<!DOCTYPE html>
<html>
  <head>
    <title>HomebrewMonks</title>
    <meta name= "viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  </head>

  <body>
    <div class="bar-clr"></div>
    <nav class="navbar navbar-default navbar-relative-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= image_tag "hbmLogo.svg", class: 'logo-img' %></li>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Forum", topics_path %></li>
            <li><%= link_to "About", about_path %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <%= yield :right_nav %>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon ion-beer"> </i><%= current_user.username %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to '<i class="icon ion-person"></i> Profile'.html_safe, user_path(current_user) %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to '<i class="icon ion-ios-gear"></i> Account Settings'.html_safe, edit_user_registration_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to '<i class="icon ion-log-out"></i> Logout'.html_safe, destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <%= yield %>
    <footer class="footer"><center><%= link_to "Home", root_path %> | <%= link_to "Forum", topics_path %> | <%= link_to "About", about_path %>
      <br />
      <br />
      <a href="http://rsvision.com/">RSVision LLC 2016</a>
    </center></footer>
  </body>
</html>
